@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
html {
  font-size: 62.5%;
  margin-bottom: 7vh;
  box-sizing: border-box;
}

body {
  background: hsl(0, 0%, 98%);
  box-sizing: border-box;
}

.header_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("images/bg-mobile-light.jpg");

  background-repeat: no-repeat;
  width: 100%;
  height: 25vh;
  background-position: center;
  background-size: cover;
  justify-content: center;
}
main {
  display: flex;
  justify-content: center;
}
.moon_icon,
.sun_icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.moon_icon {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 26 26'><path fill='%23FFF' fill-rule='evenodd' d='M13 0c.81 0 1.603.074 2.373.216C10.593 1.199 7 5.43 7 10.5 7 16.299 11.701 21 17.5 21c2.996 0 5.7-1.255 7.613-3.268C23.22 22.572 18.51 26 13 26 5.82 26 0 20.18 0 13S5.82 0 13 0z'/></svg>");
}

.sun_icon {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 26 26"><path fill="%23FFF" fill-rule="evenodd" d="M13 21a1 1 0 011 1v3a1 1 0 11-2 0v-3a1 1 0 011-1zm-5.657-2.343a1 1 0 010 1.414l-2.121 2.121a1 1 0 01-1.414-1.414l2.12-2.121a1 1 0 011.415 0zm12.728 0l2.121 2.121a1 1 0 01-1.414 1.414l-2.121-2.12a1 1 0 011.414-1.415zM13 8a5 5 0 110 10 5 5 0 010-10zm12 4a1 1 0 110 2h-3a1 1 0 110-2h3zM4 12a1 1 0 110 2H1a1 1 0 110-2h3zm18.192-8.192a1 1 0 010 1.414l-2.12 2.121a1 1 0 01-1.415-1.414l2.121-2.121a1 1 0 011.414 0zm-16.97 0l2.121 2.12A1 1 0 015.93 7.344L3.808 5.222a1 1 0 011.414-1.414zM13 0a1 1 0 011 1v3a1 1 0 11-2 0V1a1 1 0 011-1z"/></svg>');
}

.header_top {
  width: 327px;
  display: flex;

  padding-bottom: 30px;
  justify-content: space-around;
  gap: 8rem;
}
header p {
  color: #ffffff;

  letter-spacing: 2px;
  font-family: Josefin Sans;
  font-weight: 700;
  font-size: 1.5rem;
}

.header_inpt_container {
  width: 100%;
  height: 6%;

  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.todo_text_X {
  padding-left: 2rem;
  display: flex;
  width: 100%;

  justify-content: space-between;
}
#text_input_id {
  box-sizing: border-box;
  padding-left: 3.5rem;
  border-radius: 6px;
  border: none;
  width: 100%;
  height: 6vh;
}
.header_inpt_container::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  left: 7.5rem;
  border-radius: 50%;
  background-size: cover;
  border: 0.1rem solid rgb(198, 197, 197);
}
.header_input_div {
  width: 327px;
  position: relative;
}
.circle {
  border: 0.1rem solid rgb(198, 197, 197);
  border-radius: 50%;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 10px;
  left: 20px;
}
.div_for_lists {
  background-color: white;
  width: 327px;
  position: relative;
  top: -1.4rem;

  border-radius: 8px;
  overflow: hidden;
  font-family: Josefin Sans;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.each_todo_div {
  border: 0.1px solid rgb(231, 229, 229);
  display: flex;
  gap: 0.5rem;
  padding: 0.9rem 1.2rem;
  cursor: pointer;
}
.close_svg {
  cursor: pointer;
}

.list_last_line {
  display: flex;
  justify-content: space-between;
  font-weight: 100;
}

.list_last_line > * {
  cursor: pointer;
}

.todo_text_X::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  left: 1.1rem;
  border-radius: 50%;
  background-size: cover;
  border: 0.1rem solid rgb(231, 229, 229);
  cursor: pointer;
}

.complited_todo {
  text-decoration: line-through;
}
.complited_todo::before {
  content: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' width='11' height='9'><path fill='none' stroke='%23FFF' stroke-width='2' d='M1 4.304L3.696 7l6-6'/></svg>");
  background: linear-gradient(
    to right,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav_bar {
  position: fixed;
  width: 327px;
  height: 8vh;
  margin: auto;
  bottom: 60px;
  left: 1rem;
  right: 1rem;
  display: flex;
  background-color: white;
  justify-content: center;
  margin-top: 6rem;
  border-radius: 4px;
  align-items: center;
}
.nav_bar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 30px;
  font-family: Josefin Sans;
  font-weight: 200;
}
.nav_bar ul li:hover {
  cursor: pointer;
  color: rgb(18, 18, 192);
  font-weight: 300;
}
.drag_drop_div {
  position: fixed;
  width: 100%;
  bottom: 20px;
  text-align: center;
  font-family: Josefin Sans;
  font-weight: 100;
  cursor: pointer;
}

/* .............dark mode .................*/
.body_dark_mode {
  background-color: hsl(235, 21%, 11%);
}
.dark_container {
  background-color: hsl(235, 24%, 19%);
  border: 0.1px solid hsl(233, 14%, 35%);
  color: white;
}

.dark_circle {
  background-color: hsl(235, 24%, 19%);
  border: 0.1px solid hsl(233, 14%, 35%);
}

.drag_drop_dark {
  color: white;
}
.header_div_dark {
  background-image: url("images/bg-mobile-dark.jpg");
}

@media only screen and (min-width: 768px) {
  #text_input_id {
    width: 540px;
  }
  .todo_text_X {
    width: 540px;
  }
  .div_for_lists {
    width: 540px;
  }
  .header_top {
    width: 540px;

    justify-content: space-between;
  }

  .desktop_nav {
    display: flex;
    width: 300px;

    justify-content: space-between;
    flex-direction: column;
  }
  .desktop_nav ul {
    display: flex;
  }
  .header_input_div {
    width: 540px;
  }

  .desktop_nav ul li {
    flex: 1;
  }
}
